fastapi
uvicorn[standard]
python-dotenv
kubernetes
kubernetes_asyncio
neo4j
langchain
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
qdrant-client
websockets
websocket-client
httpx
aiohttp
langgraph
pydantic
redis
